*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../Image/background1.jpg") no-repeat center center fixed;
  background-size: cover;
}
h5, h3 {
  text-align: center;
  background-color: black;
  color:blanchedalmond
}
[data-player] {
  width: min(16.6vw,20vh);
  height: min(16.6vw,20vh);
}
[data-players] {
  width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(3, min(16.6vw,25vh)) auto repeat(3, min(16.6vw,25vh))
}
[data-contents] {
  width: 100vw;
  height: 45vh;
  display: grid;
  grid-template-columns: 40% 30% 30%;
}
[data-form] {
  margin: auto;
}
[data-cards] {
  display: grid;
  grid-template-columns: repeat(4, 25%)
}
[data-card] > img {
  height: min(12vh, 10vw);
  width: min(12vh, 10vw);
}

#result {
  border: 1px dotted #ccc;
  padding: 3px;
}
#result ul {
  background-color: white;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 170px;
  overflow: hidden;
  overflow-y: scroll;
}
#result ul li {
  padding: 5px 0;
}
#result ul li:hover {
  background: #eee;
}